@charset "ISO-8859-1";

body {
	margin: 0
}

.main {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-image: linear-gradient(to top, rgba(33, 36, 33, 0),
		rgb(33, 36, 33, 5)),
		url("https://cdn.wallpapersafari.com/77/49/GmrQcB.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inner {
	background-color: rgba(255, 253, 247, 0.5);
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 45vh;
	width: 40vw;
	border-radius: 15px;
}


a {
	width: 200px;
	height: 60px;
	background: rgb(97, 194, 78);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

h6:first-child {
	position: absolute;
	width: 200px;
	height: 60px;
	background: rgb(97, 194, 78);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 30px;
}

.home{
	margin-top: 50px
}

