@charset "ISO-8859-1";

body {
	margin: 0
}

.main {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-image: linear-gradient(to top, rgba(33, 36, 33, 0),
		rgb(33, 36, 33, 5)),
		url("https://cdn.wallpapersafari.com/77/49/GmrQcB.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inner {
	overflow: scroll;
	height: 80vh;
	width: auto;
}

h1 {
	color: white;
	font-size: 4rem;
}

a {
	width: 200px;
	height: 60px;
	background: rgb(97, 194, 78);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

h6:first-child {
	position: absolute;
	width: 200px;
	height: 60px;
	background: rgb(97, 194, 78);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 30px;
}

.home{
	margin-top: 50px
}